@import url("https://css.gg/css");
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url(background.jpg);
    background-color: turquoise ;
    background-size: cover;
}   
.back{
    color: white;
    background: transparent;
    height:500px;
    width:300px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    /* display:flex;
    justify-content: center;
    align-items: center; */

}
.username{
    display:flex;
    justify-content: center;
    align-items: center;
    

}
button{
    text-align: center;
    height:25px;
    width:90px;
    border-radius: 20px;
    background-color: blue ;
    color: aliceblue;
    
}
#butt{
    text-align: center;
    align-self: center;
    color:white;
}
.passs{
    display:flex;
    justify-content: center;
    align-items: center;

}
.textt{
    display:flex;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
}
.remember{
    display:flex;
    justify-content: center;
    align-items: center;

}
#nun {
    border-radius: 30px;
    height:30px;
    width: 200px;
    background: transparent;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}
::placeholder{
    color: white;
    opacity:0.7;
}
#nuun{
    border-radius: 30px;
    height:30px;
    width: 200px;
    color: 
    white;
    font-size: 20px;
    background: transparent;
    text-align: center;
    border: 1px solid white;
    
}
.gg-user{
    position: absolute;
    left: 60px;
}
.gg-lock{
    position:absolute;
    left:60px;
    /* display:flex;
    text-align: center;
    justify-content: center; */
}
.icons{
    position: absolute;
    left:100px;
    display:flex;
    text-align: center;
    justify-content: center;
}